<!-- Simple design -->
<!-- <section class="py-5">
  <gifs-list [gifs]="gifService.trendingGifs()" />
</section> -->

<!-- Masonry design -->
@if(gifService.trendingGifsGroup().length === 0){
<div
  class="flex justify-center bg-red-300 mt-5 p-4 border border-red-600 rounded-2xl w-full"
>
  <h2 class="font-bold text-2xl">
    No hay gifs en la base de datos o se excedió el límite gratuito de giphy API
  </h2>
</div>
} @else {
<div
  class="gap-4 grid grid-cols-2 md:grid-cols-4 pt-5 h-screen overflow-y-scroll"
  (scroll)="onScroll($event)"
  #groupDiv
>
  @for (group of gifService.trendingGifsGroup(); track $index) {
  <div class="gap-4 grid">
    @for(gif of group; track $index){
    <div>
      <img class="rounded-lg w-full h-full" [src]="gif.url" [alt]="gif.title" />
    </div>
    }
  </div>
  }
</div>
}
